@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin-top: 8%;
  background-color: white;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1920px;
  width: 100%;
}

header {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
}

input {
  margin-left: 8%;
  border: 2px solid #464646;
  border-radius: 50px;
  width: 500px;
  height: 35px;
}

nav {
  position:fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
}

.nav-container {
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: 3%;
}

#logo {
  margin: 22px;
  float: left;
  width: 12%;
}

.nav-container ul {
  height: 100px;
  line-height: 100px;
}

.nav-container li {
  margin-left: 2%;
  float: left;
  font-size: 14px;
  font-weight: 700;
  list-style: none;
  float: left;
}

.nav-container li a {
  text-decoration: none;
  color: black;
  font-size: 130%;
}

.nav-container li a:hover {
  color: #e91823;
}

.pic{
  margin: 15px;
  float: right;
  border-radius: 50%;
  padding-left: 20px;
}

.pic img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.home{
  width: 80%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}

.home-text{
  position: relative;
  padding-top: 12px;
}

.home-text .text-h1{

}

.home-text p{

}

.home-img img{
  width: 20%;
}

footer {
margin-top: 105px;
}

.company-footer {
	width: 68%;
}

.company-footer img {
  width: 110%;
  margin-left: 366px;
}